$min_fs: 6;
$max_fs: 128;

@for $fs from $min_fs through $max_fs {
    .fs-#{$fs} {
      font-size: #{$fs}px;
    }
}

$breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


@each $name, $val in $breakpoints {
    @media (min-width: #{$val}) {
        @for $fs from $min_fs through $max_fs {
            .fs-#{$name}-#{$fs} {
              font-size: #{$fs}px;
            }
        }
    }
}