// Define SCSS variables
$widths: 1px, 2px, 3px, 4px, 5px, 6px,  7px, 8px, 9px, 10px, 11px, 12px, 13px, 14px, 15px, 16px, 17px, 18px, 19px, 20px, 21px, 22px, 23px, 24px, 25px, 26px, 27px, 28px, 29px, 30px, 31px, 32px, 33px, 34px, 35px, 36px, 37px, 38px, 39px, 40px, 41px, 42px, 43px, 44px, 45px, 46px, 47px, 48px, 49px, 50px, 51px, 52px, 53px, 54px, 55px, 56px, 57px, 58px, 59px, 60px, 61px, 62px, 63px, 64px, 65px, 66px, 67px, 68px, 69px, 70px, 71px, 72px, 73px, 74px, 75px, 76px, 77px, 78px, 79px, 80px, 81px, 82px, 83px, 84px, 85px, 86px, 87px, 88px, 89px, 90px, 91px, 92px, 93px, 94px, 95px, 96px, 97px, 98px, 99px, 100px;
$percentages: 1%, 2%, 3%, 4%, 5%, 6%,  7%, 8%, 9%, 10%, 11%, 12%, 13%, 14%, 15%, 16%, 17%, 18%, 19%, 20%, 21%, 22%, 23%, 24%, 25%, 26%, 27%, 28%, 29%, 30%, 31%, 32%, 33%, 34%, 35%, 36%, 37%, 38%, 39%, 40%, 41%, 42%, 43%, 44%, 45%, 46%, 47%, 48%, 49%, 50%, 51%, 52%, 53%, 54%, 55%, 56%, 57%, 58%, 59%, 60%, 61%, 62%, 63%, 64%, 65%, 66%, 67%, 68%, 69%, 70%, 71%, 72%, 73%, 74%, 75%, 76%, 77%, 78%, 79%, 80%, 81%, 82%, 83%, 84%, 85%, 86%, 87%, 88%, 89%, 90%, 91%, 92%, 93%, 94%, 95%, 96%, 97%, 98%, 99%, 100%;
$breakpoints: (
  xs: 576px,
  sm: 640px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Mixin to generate width classes
@mixin generateWidthClasses($prefix, $values) {
  @each $value in $values {
    .#{$prefix}-#{$value} {
      width: nth($values, index($values, $value)) + px; // Convert value to pixels
    }   
  }
}

// Mixin to generate percentage width classes
@mixin generatePercentageWidthClasses($prefix, $values) {
  @each $value in $values {
    .#{$prefix}-#{$value} {
      width: $value; // No need to concatenate % as it's already part of $values
    }
  }
}

// Mixin to generate width classes with breakpoints
@mixin generateWidthClassesWithBreakpoints($prefix, $values, $breakpoints) {
    @each $bp, $bp_value in $breakpoints {
      @media (min-width: #{$bp_value}) { // Corrected media query syntax
        @include generateWidthClasses('#{$prefix}-#{$bp}', $values);
      }
    }
  }
  

// Generate width classes
@include generateWidthClasses('w', $widths);
@include generatePercentageWidthClasses('w-percent', $percentages);
@include generateWidthClassesWithBreakpoints('w', $widths, $breakpoints);
@include generateWidthClassesWithBreakpoints('w-percent', $percentages, $breakpoints);
